VITE_OPENWEATHER_API_KEY=6d5c85ee7b58305a7f5866d04d587128
VITE_NEWS_API_KEY=8LnxSmDsPvUedqbbglsLjJToARV0dMPbaC1ne8bG
VITE_ENTITLEMENT_ENDPOINT=https://dnq7um1pgb.execute-api.us-east-1.amazonaws.com/prod/v1/entitlements/me
# Public ICS URL from Google Calendar, Outlook, Apple Calendar, etc.
VITE_CALENDAR_ICS_URL=https://calendar.google.com/calendar/ical/your_calendar_id/public/basic.ics
